.cardContainer {
  text-align: center !important;
  margin: auto;
}

.mainContainer {
  text-align: center !important;
}

button {
  color: white;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid yellow;
  border-radius: 10px;
  width: 100px;
  padding: 5px;
  margin: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px;
}

.textField-mu {
  opacity: 1;
  z-index: 25 !important;
  display: block;
}
.MuiFormControl-fullWidth {
  width: 300px !important;
}

.MuiInputLabel-root {
  color: white !important;
}

.MuiInput-input {
  font-size: 30px !important;
}

.MuiInput-underline:after {
  color: white !important;
  border-bottom: 2px solid white !important;
}

#standard-full-width {
  color: white !important;
  opacity: 1;
  z-index: 100 !important;
  position: relative;
}
