:root {
    --mycolor: rgb(0, 136, 255);
}

.navbar {
   
   margin: 0px !important;
   height: 60px;
   color: #fff;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 30px;
 }

 h2 {
     margin: 0;
 }