.card {
  min-width: 250px;
  max-width: 250px;

  padding: 5px;
  margin: auto;
  background-color: rgb(41, 41, 41) !important;
  color: white !important;
  overflow: hidden;
}

.header {
  background-color: lightBlue;
  border-radius: 0px;
  margin: 0px;
  height: 90px;
  line-height: 90px;
  text-align: center;
}

.headLeft {
  background-color: rgb(47, 184, 230);
  border-radius: 0px;
  margin: 0px;
  height: 90px;
  line-height: 90px;
  text-align: center;
}

.removeCard {
  cursor: pointer;
  border-radius: 50%;
  float: right;
}

.removeCard:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2) rotate(90deg);
  border: 1px solid black;
  border-radius: 50%;
  z-index: auto;

  cursor: pointer;
  margin: auto;
  float: right;
}

.blue {
  color: blue;
  transition: all 2s ease-in-out;
}
.red {
  color: red;
  transform: scale(2);
}

.fab {
  margin: auto;
  top: -15px;
  border: 1px solid yellow !important;
}

.fabDiv {
  background-color: rgb(121, 151, 39);
  border: 2px solid black;
  height: 15px;
}

.gameType {
  background-color: rgb(36, 95, 73);
  padding: 5 !important;
  margin: 0 !important;
  cursor: pointer !important;
  font-family: 'Courier New', Courier, monospace;
}
.gameType:hover {
  background-color: rgb(162, 197, 35);

  cursor: pointer !important;
  font-family: 'Courier New', Courier, monospace;
}
.gameType:active {
  background-color: rgb(146, 8, 66);
}

.gameTypeContainer {
  margin: 0 !important;
  width: auto !important;
}
