.card {
  min-width: 250px;
  max-width: 250px;
  height: 330px;
  padding: 10px;
  background-color: rgb(87, 175, 124);
}

.header {
  background-color: lightBlue;
  border-radius: 0px;
  margin: 0px;
  height: 90px;
  line-height: 90px;
  text-align: center;
}

.headLeft {
  background-color: lightBlue;
  border-radius: 0px;
  margin: 0px;
  height: 90px;
  line-height: 90px;
  text-align: center;
}

.removeCard {
  cursor: pointer;
  border-radius: 50%;
  float: right;
}

.removeCard:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2) rotate(90deg);
  border: 1px solid black;
  border-radius: 50%;
  z-index: auto;

  cursor: pointer;
  margin: auto;
  float: right;
}

.blue {
  color: blue;
  transition: all 2s ease-in-out;
}
.red {
  color: red;
  transform: scale(2);
}

.fab {
  margin: auto;
  top: -15px;
}

.fabDiv {
  background-color: rgb(121, 151, 39);
  border: 2px solid black;
  height: 15px;
}
