.removeCard {
  cursor: pointer;
  border-radius: 50%;
  float: right;
}

.removeCard:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2) rotate(90deg);
  border: 1px solid black;
  border-radius: 50%;
  z-index: auto;
  cursor: pointer;
  margin: auto;
  float: right;
}

.headerCard {
  display: inline-flex;
  margin: 0 !important;
  width: 100%;
  height: 90px !important;
}
/* Left Header*/
.headerCardLeftSection {
  background-color: #000;
  color: white;
}

/* Middle Header*/
.headerCardMiddleSection {
  padding: 0;
  text-align: left;
  background-color: #000;
}

.headerCardMiddleSection p {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
}

/* Right Header */
.headerCardRightSection {
  background-color: #000;
}

.rankIcon {
  position: absolute;
  /*  width: 110px !important;
  height: 110px !important; */
  transform: translate(-60px, 10px) !important;
  opacity: 0.6;
  z-index: 0 !important;
}
