body {
  background-color: #000;
  /* font-family: 'Press Start 2P', cursive; */
  padding: 0;
  margin: 0;
}
.App {
  background-image: url('./img/Main/mainBackground1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 110%;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 200vh;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.664);
  z-index: 25;
  color: white;
  background-size: 500%;
}

@media only screen and (max-width: 1024px) {
  /* styles for narrow screens */
  .App {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 200%;
  }
}

@media only screen and (max-width: 720px) {
  /* styles for narrow screens */
  .App {
    background-size: 140%;
    background-attachment: fixed;
  }
}
@media only screen and (max-width: 648px) {
  .App {
    height: 300vh;
    background-size: 150%;
    background-attachment: fixed;
  }

  /* styles for narrow screens */
}
@media only screen and (max-width: 411px) {
  .App {
    background-size: 300%;
    background-attachment: fixed;
  }
}
@media only screen and (max-width: 400px) {
  .App {
    background-size: 500%;
    background-attachment: fixed;
  }

  /* styles for narrow screens */
}
